<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget.loongnix.cn" value="https://nuget.loongnix.cn/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.loongnix.cn">
      <package pattern="Microsoft.AspNetCore.App.Runtime.linux-loongarch64" />
      <package pattern="Microsoft.NETCore.App.Host.linux-loongarch64" />
      <package pattern="Microsoft.NETCore.App.Runtime.linux-loongarch64" />
    </packageSource>
  </packageSourceMapping>
</configuration>
